.border-radius{
    border-radius: 5px;
}
.padding{
    padding: .5rem;
}
.title-primary{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    padding-top: 1rem;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.bg-teste{
    background-color: blue;
}
.content-calculator{
    position: relative;
    max-width: 50%;
    width: 21%;
    margin: 1rem auto;
    border: 2px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.display-calculator{
    text-align: right;
    width: 100%;
    height: 3rem;
    background-color: #fff;
}
.calculator-buttons{
    display: flex;
}
.operation-items{
    border: 2px solid #ccc;
    text-align: center;
    margin-top: 5px;
    width: 3rem;
    height: 3rem;
}
.calculator-numbers{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.calculator-numbers > div{
    margin: 5px;
}
.clear{
    border: 2px solid #ccc;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    height: 3rem;
}